html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

.btn-group {
    margin-bottom: 15px;
}

.align_center, td.align_center {
    text-align: center;
}

.align_right, td.align_right {
    text-align: right;
}